/* app css stylesheet */

.table-striped>tbody>tr.sum:nth-child(odd)>td,
.table-striped>tbody>tr.sum:nth-child(even)>td {
    background-color: #d9edf7;
}

body {
    position: relative; margin-top: 40px;
}

.notValid {
    background-color: #a94442;
}

table {
    table-layout: fixed;
    word-wrap: break-word;
}
.bg {
    background: url('../img/jumbotron.jpg') no-repeat center center;

    position: fixed;
    width: 100%;
    height: 500px; /*same height as jumbotron */
    top:0;
    left:0;
    z-index: -1;
}

.menu-bg {
    background: url('../img/bg-menu.jpg') repeat center center;

    top: 0;
    position: fixed;
    width: 100%;
    height: 500px; /*same height as jumbotron */
    left:0;
    z-index: -2;
}

.jumbotron {
    height: 500px;
    color: white;
    text-shadow: #444 0 1px 1px;
    background:transparent;
    margin: 0;
}

.menu {
    /*height: 500px;*/
    color: white;
    text-shadow: #444 0 1px 1px;
    background:transparent;
    margin: 0;
}

.main {
    background: #FFFFFF;
}

div#top, h1#menu, h1#book {
    padding-top: 60px;
    margin-top: -40px;
}

.carousel-caption-top {
    top: 0;
    bottom: auto;
}

.pagination {
    z-index: 99999;
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    background-color: #d48d4b;
    border-color: #c37334;
}

.pagination>li>a, .pagination>li>span {
    color: #b46e30;
}

.pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus, .pagination>li>span:hover {
    color: #b46e30;
}

.table-svg {

}

.table-svg:hover {
    fill: #b46e30;
    cursor: pointer;
}

.table-svg-selected {
    fill: #5cb85c;
}

.table-svg-selected:hover {
    fill: #5cb85c;
}

.table-svg-disabled {
    fill: #656565;
}

.table-svg-disabled:hover {
    fill: #656565;
    cursor: default;
}

.glyphicon-star, .glyphicon-star-empty {
    color: #97922a;
}

.symbol {
    display: inline-block;
    border-radius: 50%;
    border: 5px double white;
    width: 30px;
    height: 30px;
}

.table-svg text {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.tables-container {
    position: relative;
    width: 100%;
    border: 1px solid black;
}
.glyphicon.fast-right-spinner {
    -webkit-animation: glyphicon-spin-r 1s infinite linear;
    animation: glyphicon-spin-r 1s infinite linear;
}
@-webkit-keyframes glyphicon-spin-r {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
.menu-reservation-label {
    display: block;
    min-height: 100%;
    height: 100%;
}

input[type=date]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    display: none;
}

.tooltip-inner {
    width: 400px;
}