<div>
  <a class="btn btn-primary" href="#/main" role="button">
    <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Powrót do strony głównej
    panelu</a>
  <h2>Rezerwacje</h2>
  <div class="form-horizontal">
    <div class="form-group">
      <label class="col-lg-4 col-md-6 co-sm-12 control-label" for="reservationDate">Data rezerwacji</label>
      <div class="col-lg-6 col-md-6 col-sm-12">
        <input class="form-control" type="date" id="reservationDate" ng-model="reservationDate" ng-change="reloadReservations()"/>
      </div>
    </div>
    <div class="form-group">
      <label class="col-lg-4 col-md-6 co-sm-12 control-label" for="reservationBeginTime">Przedział
        czasowy: <span class="glyphicon glyphicon-info-sign" uib-popover="Wybierz przedział między 12:00 a 22:00"
                       popover-trigger="'mouseenter'"></span> </label>
      <div class="col-lg-3 col-md-3 col-sm-6">
        <input class="form-control" type="time" id="reservationBeginTime" ng-model="reservationBeginTime"
               ng-disabled="reservedTables.length > 0" min="12:00:00" max="22:00:00" value="12:00" ng-change="reloadReservations()"/>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6"
           ng-class="{'has-error': reservationBeginTime >= reservationEndTime}">
        <input class="form-control" type="time" id="reservationEndTime" ng-model="reservationEndTime"
               ng-disabled="reservedTables.length > 0" min="12:00:00" max="22:00:00" value="22:00" ng-change="reloadReservations()"/>
      </div>
      <div class="col-lg-1" ng-show="isLoadingTables" style="padding-top: 8px;">
        <span class="glyphicon glyphicon-repeat fast-right-spinner"></span>
      </div>
    </div>
  </div>
  <table class="table table-striped table-hover">
    <thead>
    <tr>
      <th>
        E-mail
      </th>
      <th>
        Telefon
      </th>
      <th>
        Stoliki
      </th>
      <th>
        Data
      </th>
      <th>
        Przedział czasowy
      </th>
      <th>
        Menu
      </th>
    </tr>
    </thead>
    <tr ng-repeat="reservation in reservations">
      <td>
        {{reservation.email}}
      </td>
      <td>
        {{reservation.phone}}
      </td>
      <td>
        <div style="font-size: medium; margin-right: 5px;margin-bottom: 5px;display: inline-block"
             class="label label-success"
             ng-repeat="table in reservation.tables">#{{table}}<!--
       --></div>
      </td>
      <td>
        {{reservation.date | polishDate}}
      </td>
      <td>
        {{reservation.beginTime | date:'HH:mm'}} - {{reservation.endTime | date:'HH:mm'}}
      </td>
      <td>
        <ul>
          <li ng-repeat="dish in reservation.menu">{{ dish.name }}</li>
        </ul>
      </td>
    </tr>
  </table>
  <div class="row">
    <div class="text-center col-lg-12">
      <ul uib-pagination items-per-page="itemsPerPage" total-items="totalItems" ng-model="currentPage"
          ng-change="pageChanged()" previous-text="&lsaquo;" next-text="&rsaquo;" max-size="5"
          force-ellipses="true" boundary-links="true" first-text="&laquo;" last-text="&raquo;"
          style="margin-top: 5px;"></ul>
    </div>
  </div>
</div>