<div class="row">
  <div class="col-lg-2">
    <div class="form-group">
      <label for="nameFilter">Nazwa:</label>
      <input type="text" class="form-control" id="nameFilter" ng-model="nameFilter" ng-change="pageChanged()">
      </input>
    </div>
    <div class="form-group">
      <label for="categorySelect">Kategoria:</label>
      <select class="form-control" id="categorySelect" ng-model="selectedCategory.category"
              ng-options="category for category in categories" ng-change="pageChanged()">
      </select>
    </div>
  </div>
  <div class="col-lg-10">
    <div style="min-height: 210px;">
      <table class="table table-striped table-hover">
        <thead>
        <tr>
          <th>
            Nazwa
          </th>
          <th>
            Cena
          </th>
          <th>
            Kategoria
          </th>
          <th>

          </th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="product in paginatedProducts | categoryFilter:selectedCategory | filter:nameFilter">
          <td>
            {{product.name}}
          </td>
          <td>
            {{product.price/100 | currency}}
          </td>
          <td>
            {{product.category}}
          </td>
          <td style="text-align: center">
            <button type="button" class="btn btn-info" ng-click="addToCart(product.name)">
              <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Dodaj do koszyka</button>
              <span class="label label-primary">w koszyku: {{product.quantity || "0"}}</span>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="text-center">
      <ul uib-pagination items-per-page="itemsPerPage" total-items="totalItems" ng-model="currentPage"
          ng-change="pageChanged()" previous-text="&lsaquo;" next-text="&rsaquo;" max-size="5"
          force-ellipses="true" boundary-links="true" first-text="&laquo;" last-text="&raquo;"></ul>
    </div>

    <div class="text-right">
      <a class="btn btn-success" href="#/cart" role="button">
        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Zakończ zakupy
      </a>
    </div>


  </div>
</div>
